@page
@model LoginDataModel


@{
    ViewData["Title"] = "Log Out";
    Layout = "/Areas/Identity/Pages/_AuthLayout.cshtml";
}
<div class="register-header">
<h3>@ViewData["Title"]</h3>
      <h5>Logging Out</h5>
        

</div>
                <hr />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
